# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [43]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York","DC", "          "]

#Remove all of the empty string

In [44]:
list(filter(lambda country: country.strip(), places))

['Argentina', 'San Diego', 'Boston', 'New York', 'DC']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name *case insensitive*...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [63]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield", "David hassELHOFF", "Gary A.J. Bernstein"]

In [64]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [144]:
authors.sort(key=lambda x: x.split()[-1].lower())
print(authors)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3
Convert the list below from Celsius to Farhenheit, using the map function with a lambda...

Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [85]:
# F = (9/5)*C + 32
places2 = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

In [86]:
list(map(lambda fare: (fare[0], (9/5)*fare[1]+ 32) , places2))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4
Write a recursion function to perform the fibonacci sequence up to the number passed in.

More information on the Fibonacci Sequence here. Start the sequence with `0,1,1,...`.

In [ ]:
#A Fibonacci number = n-1 + n-2
#You need a base case and a way to reduce the original input so it gets to the base case
#Then you need to call your function inside your function

In [140]:
def fibo(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibo(num-1) + fibo(num-2)

In [142]:
print(fibo(19))

4181

### Exercise #5
Create a generator that takes a number argument and yields that number squared down to 0, then call the generator and iterate through and print the result.

In [137]:
# for i in generator(10):
#     print(i)

# 100
# 81
# 64
# 49
# 36
# 25
# 16
# 9
# 4
# 2
# 1
# 0

In [138]:
def generator(num):
    for n in range(num,-1,-1):
        yield n**2

In [139]:
for i in generator(10):
    print(i)

100
81
64
49
36
25
16
9
4
1
0